* {
    margin: 0;
    padding: 0;
    } 

html, body {
        height: 100%
    }

.container {
    height: 100%; 
    display: flex;
    flex-direction: column;
}
header, footer {
    height: 70px;
    background-color: salmon;
}
main {
    flex: 1;
    display: flex;
}
.box {
    height: calc(100% - 20px);
    background-color: sandybrown;
}